*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* background-color: rgb(216, 226, 236); */
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;

}

.header{
    padding:2rem;
    margin: 1rem 0px;
    text-align: center;
}
.header > .title{
    margin-bottom: 1rem;
}
.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 48rem;
    margin: 0px auto;
    background-color: white;
    color: black;
    align-items:  center;
    padding:  0px 0px 0px 1rem ;

}
.tribute blockquote{
    text-align:  justify;
    font-size: 1.1rem;
}
.tribute img{
   /* width: 200px; */
    border-radius: 1rem;
    margin-left: 5rem;
    width: 10rem;
    /* background-color: red; */
}
.description{
    /* align-items: center; */
    text-align: justify;
    margin-left: 25rem;
    margin-right: 25rem;
    font-size: 1.3rem;

}
.bio{
    margin: 2rem auto;
    padding :0px 0.5rem ;
    max-width: 40rem;
    
}
.bio >h2{
    margin-bottom: 1rem;
    font-size: 3rem;
     line-height: 1.2;
}
.bio>p{
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: justify;

}
.bio >h1{
    margin-bottom: 1rem;
    font-size: 2rem;
     line-height: 1.2;
}
.bio >img{
    border-radius: 1rem;
    margin-left: 5rem;
    width: 10rem;
}
